@charset "UTF-8";

/* Todas as demais Mídias */


@media screen and (min-width: 768px) and (max-width: 992px) { /* Tablet */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* Descktop */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

}

@media screen and (min-width: 1200px) { /* Grandes Telas */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

}

